/* TopAlbums.module.css */
.AlbumsContainer {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);
  }
  
  .collapseButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* gap: 20px; */
  }